    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-xl">COVID-19 Virus Testing Key Worker Self-Referral</h1>
<span class="govuk-caption-xl">
        
</span>
<h1 class="govuk-heading-xl">
Instructions</h1>
<span class="govuk-caption-xl">v9.6.0</span>
<div class="app-prose-scope">
<p>If you are a self-isolating key worker you can use this tool to be able to register to book a test...</p>
<p>You will need to do this and then be taken to another page to register your identity...</p>
<form action="selfisolate" method="GET">
<button class="govuk-button" type="submit">Start</button>
</form>
</div>
    </main>
