    <main class="govuk-main-wrapper " id="main-content" role="main">
      <h1 class="govuk-heading-xl">COVID-19 Virus Testing Key Worker Self-Referral</h1>
<span class="govuk-caption-xl">
        
</span>
<form action="details" method="POST">
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="status-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h3 class="govuk-fieldset__heading">
        Confirm your status
      </h3>
    </legend>
    <span id="status-hint" class="govuk-hint">
      Select all that apply.
    </span>
    <div class="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="selfisolating" name="selfisolating" type="checkbox" value="selfisolating">
        <label class="govuk-label govuk-checkboxes__label" for="selfisolating">
          Are you self isolating?
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="keyworker" name="keyworker" type="checkbox" value="keyworker">
        <label class="govuk-label govuk-checkboxes__label" for="keyworker">
          Are you a key worker?
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="app-prose-scope">
<h3 class="govuk-heading-m">
Who can book a test?</h3>
<p>To check if you are a key worker:</p>
<p>Guidance for schools, childcare providers, colleges and local authorities in England on maintaining educational provision</p>
<p><a href="https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision">https://www.gov.uk/government/publications/coronavirus-covid-19-maintaining-educational-provision/guidance-for-schools-colleges-and-local-authorities-on-maintaining-educational-provision</a></p>
<button class="govuk-button" data-module="govuk-button">
  Continue
</button>
</form>
</div>
    </main>
