            <main data-v-36116bfe="" class="govuk-main-wrapper">
               <form data-v-36116bfe="" id="personal-details-form" novalidate="novalidate">
                  <div data-v-36116bfe="" class="govuk-grid-row">
                     <div data-v-36116bfe="" class="govuk-grid-column-two-thirds">
                        <h1 data-v-36116bfe="" class="govuk-heading-xl"> Coronavirus test: confirm your details </h1>
                        <p data-v-36116bfe="" class="govuk-body"> Use this form to confirm your details for a coronavirus (COVID-19) test. </p>
                        <h2 data-v-36116bfe="" class="govuk-heading-l"> Who can use this form </h2>
                        <p data-v-36116bfe="" class="govuk-body"> You can use this form if you have either: </p>
                        <ul data-v-36116bfe="" class="govuk-list govuk-list--bullet">
                           <li data-v-36116bfe=""> been sent a home test kit </li>
                           <li data-v-36116bfe=""> been asked to use it by staff at a test site </li>
                           <li data-v-36116bfe=""> been invited to use it by an employer or NHS trust </li>
                        </ul>
                        <p data-v-36116bfe="" class="govuk-body"> If other people you live with have also been asked to use this form, we'll need their details, too. They can enter their details on this form after you've registered yourself (or you can do it for them, with their permission). </p>
                        <h2 data-v-36116bfe="" class="govuk-heading-l"> Personal information </h2>
                        <div data-v-36116bfe="" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary" id="error-summary" class="govuk-error-summary" style="display: none;">
                           <h2 id="error-summary-title" class="govuk-error-summary__title"> There is a problem </h2>
                           <div class="govuk-error-summary__body">
                              <ul class="govuk-list govuk-error-summary__list pl-0"></ul>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What's your name?</h3>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="firstName" class="govuk-label"> First name </label><!----><!----><input id="firstName" name="firstName" class="govuk-input">
                              </div>
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="lastName" class="govuk-label"> Last name </label><!----><!----><input id="lastName" name="lastName" class="govuk-input">
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What’s your postcode?</h3>
                        <p data-v-36116bfe="" class="govuk-hint"> If you’re registered with a GP surgery, give the home postcode you used to register with them. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group" id="address-error">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!---->
                                    <div data-v-36116bfe="" class="govuk-form-group">
                                       <label for="postcode" class="govuk-label"> Enter a UK postcode </label><!----><!----><input id="postcode" name="postcode" maxlength="8" class="govuk-input">
                                    </div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What's your date of birth?</h3>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"></legend>
                                    <div class="govuk-hint">For example 19 7 1986</div>
                                    <!---->
                                    <div class="govuk-date-input">
                                       <div class="govuk-date-input__item">
                                          <div class="govuk-form-group">
                                             <label for="dateOfBirth-day" class="govuk-label"> Day </label><!----><!----><input id="dateOfBirth-day" name="day" inputmode="numeric" maxlength="2" pattern="[0-9]*" class="govuk-input govuk-input--width-2">
                                          </div>
                                       </div>
                                       <div class="govuk-date-input__item">
                                          <div class="govuk-form-group">
                                             <label for="dateOfBirth-month" class="govuk-label"> Month </label><!----><!----><input id="dateOfBirth-month" name="month" inputmode="numeric" maxlength="2" pattern="[0-9]*" class="govuk-input govuk-input--width-2">
                                          </div>
                                       </div>
                                       <div class="govuk-date-input__item">
                                          <div class="govuk-form-group">
                                             <label for="dateOfBirth-year" class="govuk-label"> Year </label><!----><!----><input id="dateOfBirth-year" name="year" inputmode="numeric" maxlength="4" pattern="[0-9]*" class="govuk-input govuk-input--width-4">
                                          </div>
                                       </div>
                                    </div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What's your gender?</h3>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!---->
                                    <div data-v-36116bfe="" class="govuk-form-group" id="sex">
                                       <!----><!---->
                                       <div class="govuk-radios__item"><input id="male" type="radio" name="sex" class="govuk-radios__input" value="male"><label for="male" class="govuk-label govuk-radios__label">Male</label></div>
                                       <div class="govuk-radios__item"><input id="female" type="radio" name="sex" class="govuk-radios__input" value="female"><label for="female" class="govuk-label govuk-radios__label">Female</label></div>
                                    </div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What’s your ethnic group?</h3>
                        <p data-v-36116bfe="" class="govuk-hint"> This will help us understand how coronavirus is affecting people of different ethnic backgrounds. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-three-quarters">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!---->
                                    <div data-v-4c300c0d="" data-v-36116bfe="" class="govuk-form-group" id="Ethnic group">
                                       <label data-v-4c300c0d="" class="govuk-label"> Ethnic group </label><!---->
                                       <select data-v-4c300c0d="" class="govuk-select">
                                          <option data-v-4c300c0d="" selected="selected" value="">Please select</option>
                                          <option data-v-4c300c0d="" value="asian"> Asian or Asian British </option>
                                          <option data-v-4c300c0d="" value="black"> Black, African, Black British or Caribbean </option>
                                          <option data-v-4c300c0d="" value="mixed"> Mixed or multiple ethnic groups </option>
                                          <option data-v-4c300c0d="" value="white"> White </option>
                                          <option data-v-4c300c0d="" value="other"> Another ethnic group </option>
                                          <option data-v-4c300c0d="" value="Prefer not to say"> Prefer not to say </option>
                                       </select>
                                    </div>
                                 </fieldset>
                              </div>
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!---->
                                    <div data-v-4c300c0d="" data-v-36116bfe="" class="govuk-form-group" id="Specific ethnic background" disabled="disabled">
                                       <label data-v-4c300c0d="" class="govuk-label"> Specific ethnic background </label><!---->
                                       <select data-v-4c300c0d="" disabled="disabled" class="govuk-select">
                                          <option data-v-4c300c0d="" selected="selected" value="">Please select</option>
                                       </select>
                                    </div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What's your mobile phone number?</h3>
                        <p data-v-36116bfe="" class="govuk-hint"> We’ll text your registration confirmation and test results to this number. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="mobile" class="govuk-label"> Mobile number </label><!----><!----><input id="mobile" name="mobileNumber" type="tel" class="govuk-input">
                              </div>
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="reEnterMobile" class="govuk-label"> Re-enter mobile number </label><!----><!----><input id="reEnterMobile" name="reEnterMobile" type="tel" class="govuk-input">
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">What's your email address?</h3>
                        <p data-v-36116bfe="" class="govuk-hint"> We’ll email your registration confirmation and test results to this email address. </p>
                        <p data-v-36116bfe="" class="govuk-hint"> Make sure you’re happy for your test results to go to this email address. Do not use a work or shared email address unless you’re comfortable with others possibly seeing your results. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-one-half">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="email" class="govuk-label"> Email address </label><!----><!----><input id="email" name="emailAddress" type="email" class="govuk-input">
                              </div>
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <label for="reEnterEmail" class="govuk-label"> Re-enter email address </label><!----><!----><input id="reEnterEmail" name="reEnterEmail" type="email" class="govuk-input">
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">Do you know your NHS number?</h3>
                        <p data-v-36116bfe="" class="govuk-hint"> It's OK if you do not. We can still confirm your details without it. </p>
                        <p data-v-36116bfe="" class="govuk-hint"> Your NHS number is a 10 digit number, like 485 777 3456. You can find it on any letter the NHS has sent you, on a prescription, or by logging in to a GP practice online service. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-two-thirds">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!----><!---->
                                    <div data-v-36116bfe="" class="govuk-radios__item"><input id="nhsNumberAvailable-yes" type="radio" name="nhsNumberAvailable" class="govuk-radios__input" value="nhsNumberAvailable-yes"><label for="nhsNumberAvailable-yes" class="govuk-label govuk-radios__label">Yes, I know my NHS number</label></div>
                                    <!---->
                                    <div data-v-36116bfe="" class="govuk-radios__item"><input id="nhsNumberAvailable-no" type="radio" name="nhsNumberAvailable" class="govuk-radios__input" value="nhsNumberAvailable-no"><label for="nhsNumberAvailable-no" class="govuk-label govuk-radios__label">No, I do not know my NHS number</label></div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <h3 data-v-36116bfe="" class="govuk-heading-m"> Do you have an NHS COVID-19 app reference code? </h3>
                        <p data-v-36116bfe="" class="govuk-hint"> The app is not yet available across the whole of the UK. </p>
                        <p data-v-36116bfe="" class="govuk-hint"> Please select ‘No, I do not have a reference’. </p>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-two-thirds">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <!----><!----><!---->
                                    <div data-v-36116bfe="" class="govuk-radios__item"><input id="ctaTokenOption-yes" type="radio" name="ctaTokenOption" class="govuk-radios__input" value="ctaTokenOption-yes"><label for="ctaTokenOption-yes" class="govuk-label govuk-radios__label">Yes, I have a reference</label></div>
                                    <!---->
                                    <div data-v-36116bfe="" class="govuk-radios__item"><input id="ctaTokenOption-no" type="radio" name="ctaTokenOption" class="govuk-radios__input" value="ctaTokenOption-no"><label for="ctaTokenOption-no" class="govuk-label govuk-radios__label">No, I do not have a reference</label></div>
                                 </fieldset>
                              </div>
                           </div>
                        </div>
                        <div data-v-36116bfe="" class="govuk-grid-row">
                           <div data-v-36116bfe="" class="govuk-grid-column-full">
                              <div data-v-36116bfe="" class="govuk-form-group">
                                 <fieldset role="group" class="govuk-fieldset">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Which test are you having? </legend>
                                    <div class="govuk-hint"> Select whether you are taking a test at home or at a test site. </div>
                                    <div data-v-36116bfe="" class="govuk-form-group" id="journey">
                                       <!----><!---->
                                       <div class="govuk-radios__item"><input id="home" type="radio" name="journey" class="govuk-radios__input" value="home"><label for="home" class="govuk-label govuk-radios__label">At home</label></div>
                                       <div class="govuk-radios__item"><input id="test-centre" type="radio" name="journey" class="govuk-radios__input" value="test-centre"><label for="test-centre" class="govuk-label govuk-radios__label">At a test site</label></div>
                                    </div>
                                 </fieldset>
                              </div>
                              <!---->
                           </div>
                        </div>
                        <button data-v-36116bfe="" class="govuk-!-margin-bottom-8 govuk-button" type="submit"> Confirm registration </button>
                        <p data-v-36116bfe="" class="govuk-body"> Having trouble? Call the coronavirus testing helpline on <a data-v-36116bfe="" href="tel:0300 303 2713" class="govuk-link">0300 303 2713</a>. Lines are open from 7am to 11pm every day. It's free to call from any mobile or landline phone. </p>
                        <h3 data-v-36116bfe="" class="govuk-heading-m">How we use your data</h3>
                        <p data-v-36116bfe="" class="govuk-body"> To find out how we use your personal data, <a data-v-36116bfe="" target="_blank" href="https://www.gov.uk/government/publications/coronavirus-covid-19-testing-privacy-information" class="govuk-link"> read the coronavirus privacy information. </a></p>
                     </div>
                  </div>
               </form>
            </main>
